:root {
  --creamygrad: linear-gradient(
    to left,
    rgba(235, 233, 221, 1) 0%,
    rgba(247, 235, 209, 1) 100%
  );
  --bluegrad: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 0.7) 0%,
    rgba(2, 83, 185, 0.7) 100%
  );

  --blueisch3dgrad: radial-gradient(
    circle,
    #69a4f7,
    #649cea,
    #6094dd,
    #5b8cd1,
    #5784c4,
    #4e7cbf,
    #4675ba,
    #3d6db5,
    #2f63b6,
    #2359b6,
    #194eb5,
    #1642b3
  );
  --basicblue: rgb(0, 51, 153);
}

body {
  background-image: url("/images/tools-for-motivation-KvTOwKoji7g-unsplash.jpg");
}
.logo {
  width: 3%;
}
.shortdesc {
  margin-top: 15px;
}

h5 {
  font-family: "Lovers Quarrel", cursive;
  font-size: 66px;
  color: orangered !important;
  text-shadow: 1px 1px #558abb;
}

h4 {
  font-family: "Exo", sans-serif;
  font-style: italic;
  font-size: 20px;
  color: var(--basicblue) !important;
  text-shadow: 1px 1px orangered;
}

.headercard,
.headerprojects {
  background: rgb(220, 240, 247);
  border-width: 3px;
  border-color: var(--basicblue);
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 70%;
  border-radius: 2%;
  padding: 20px 100px;
}

.projectcard {
  background: rgb(220, 240, 247);
  border-width: 3px;
  border-color: var(--basicblue);
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 70%;
  border-radius: 2%;
}

.projectimage {
  padding: 10px;
}
p {
  color: var(--basicblue);
  font-family: "Exo", sans-serif;
}
