:root {
  --creamygrad: linear-gradient(
    to left,
    rgba(235, 233, 221, 1) 0%,
    rgba(247, 235, 209, 1) 100%
  );
  --bluegrad: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 0.7) 0%,
    rgba(2, 83, 185, 0.7) 100%
  );

  --blueisch3dgrad: radial-gradient(
    circle,
    #69a4f7,
    #649cea,
    #6094dd,
    #5b8cd1,
    #5784c4,
    #4e7cbf,
    #4675ba,
    #3d6db5,
    #2f63b6,
    #2359b6,
    #194eb5,
    #1642b3
  );
  --basicblue: rgb(0, 51, 153);
}

body {
  background-image: url("/images/tools-for-motivation-KvTOwKoji7g-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  width: 10%;
}

.happycoder {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  width: 60%;
}

.button1 {
  background-color: var(--basicblue);
  margin-top: 15px;
}

.shortdesc {
  margin-top: 15px;
}

h5 {
  font-family: "Lovers Quarrel", cursive;
  font-size: 66px;
  color: orangered !important;
  text-shadow: 1px 1px #558abb;
  margin-top: 25px;
}

h4 {
  background: rgb(220, 240, 247, 0.8);
  border: solid var(--basicblue);
  border-radius: 50%;
  border-width: 3px;
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  font-family: "Exo", sans-serif;
  font-style: italic;
  font-size: 17px;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px orangered;
  width: 15%;
}

.headerprojects2 {
  background: rgb(220, 240, 247, 0.8);
  border: solid var(--basicblue);
  border-radius: 50%;
  border-width: 3px;
  display: block;
  margin: 0 auto;
  margin-top: 35px;
  font-family: "Exo", sans-serif;
  font-style: italic;
  font-size: 17px;
  padding: 15px;
  text-align: center;
  text-shadow: 1px 1px orangered;
  width: 25%;
}

h6 {
  font-family: "Lovers Quarrel", cursive;
  font-size: 50px;
  color: orangered !important;
  text-shadow: 1px 1px #558abb;
  margin-top: 10px;
}

.headercard,
.contactcard {
  background: rgb(220, 240, 247, 0.8);
  border-width: 3px;
  border-color: var(--basicblue);
  display: block;
  margin: 0 auto;
  margin-top: 85px;
  border-radius: 50%;
  height: 500px;
  width: 500px;
  padding: 20px 100px;
}

.aboutcard {
  background: rgb(220, 240, 247, 0.8);
  border: solid 3px;
  border-color: var(--basicblue);
  margin-top: 20px;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  max-height: 480px;
  max-width: 480px;
  padding: 0px 40px 80px 20px;
}

.aboutcard p {
  text-align: center;
  margin-bottom: 25px;
}

.aboutcard h5 {
  margin-top: 50px;
  text-align: center;
}

.aboutcard a {
  display: block;
  margin: 0 auto;
  max-width: 200px;
}

.about_me_picture {
  display: block;
  margin: 0 auto;
  margin-top: 70px;
  width: 60%;
}

.about_picture_card {
  background: rgb(220, 240, 247, 0.8);
  border: solid 3px;
  border-color: var(--basicblue);

  margin-top: 300px;

  border-radius: 75% 25% 60% 40% / 81% 78% 22% 19%;
  max-height: 270px;
  max-width: 270px;
  padding: 20px 10px;
}

.logo_about {
  display: block;
  margin: 0 auto;
  width: 8%;
}

.projectcard {
  background: rgb(220, 240, 247, 0.8);
  border-width: 3px;
  border-color: var(--basicblue);
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 98%;
  border-radius: 50% 20% / 10% 40%;
}

.projectimage {
  margin-top: 10%;
  margin-left: 2%;
  border-radius: 2%;
  width: 90%;
}

.project1-link {
  color: orangered;
  display: block;
  font-family: "Exo", sans-serif;
  font-size: 14px;
  text-align: center;
}

.link-div {
  margin-bottom: 60px;
}

p {
  color: var(--basicblue);
  font-family: "Exo", sans-serif;
}

.row {
  margin-left: 10px;
  margin-bottom: 80px;
  width: 95%;
}

.email {
  color: var(--basicblue);
}

nav {
  background-color: rgb(220, 240, 247, 0.8);
  padding: 15px;
  border-bottom: solid var(--basicblue) 3px;
}

nav .logo_nav {
  max-height: 40px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  font-family: "Exo", sans-serif;
  font-size: 15px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--basicblue);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a,
footer a:hover {
  color: orangered;
  text-shadow: 1px 1px var(--basicblue);
}

footer {
  background-color: rgb(220, 240, 247, 0.8);
  padding: 15px;
  border-top: solid var(--basicblue) 3px;
  position: relative;
  bottom: 0;
  min-width: 100%;
}

footer a {
  color: var(--basicblue);
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: "Exo", sans-serif;
}

@media screen and (max-width: 600px) {
  .headercard {
    margin-top: 20px;
    border-radius: 50%;
    height: 360px;
    width: 360px;
    padding: 10px 10px;
  }

  h5 {
    font-size: 45px;
    margin-top: 15px;
  }

  .logo {
    width: 5%;
  }

  .happycoder {
    margin-bottom: 5px;
    width: 30%;
  }

  h4 {
    padding: 5px;
    width: 50%;
  }

  .aboutcard {
    margin: 10px;
  }

  .about_picture_card {
    margin: 10px;
    margin-left: 90px;
  }

  .headerprojects2 {
    width: 80%;
  }

  .contactcard {
    margin-bottom: 130px;
  }
}
